<body *ngIf="character">
  <main role="main">
    
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid" style = "margin-left:10%">
      <a href="/characters/{{character.id}}" class="navbar-brand">
        <img src={{character.icon}}  height="75" class="d-inline-block align-text-middle"> 
      </a>
      <div class="card-body">
        <h5 class="head-title" style="font-weight: 700;"> {{character.id.split("-").join(" ")}} </h5>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill=#ffd000 class="bi bi-star-fill" viewBox="0 0 16 16" *ngFor="let num of [].constructor(character.rarity)">
          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
        </svg>
        <p class="head-text">{{character.element}} - {{character.weapon}}</p>
        <!-- <p class="head-text"><small class="head-details">{{character.description}}</small></p> -->
      </div>
      
      
      <img src="https://impact.moe/assets/img/element-icons/{{character.element.toLowerCase()}}-icon.webp" class="img-header">
    </div>
  </nav>


    <section class="jumbotron text-center vertical-center" style="background-image:
      url('https://impact.moe/assets/img/map-banners/{{character.region.toLowerCase()}}-banner.webp');">
    </section>

    <!-- <div class="jumbotron-text">
      <h1 class="jumbotron-heading">{{character.id.split("-").join(" ")}}</h1>
    </div> -->
    
    <div class="img_wrap py-1 bg-light">
      <div class="row row-side-margin">
        <div class="col-xl-4 col-lg-4 col-md-6 col-12 row-margin" style="min-height: 550px;">
          <img class="img-char" src="{{character.image}}">
          
        </div>

        <div class="col-xl-8 col-lg-8 cold-md-6 col-12 row-margin">
        
            <div class="row">
              <h1 class="talents" style="text-align: center; margin-bottom: 15px; margin-top: 30px; font-weight: 600">Talents</h1>
              <div *ngFor="let talent of talents" class="col-xl-6 col-lg-6 col-md-6 col-sm-12 row-margin">
                
                <div class="card mb-3 h-100" style="background-color:rgb(252, 250, 248); box-shadow: 1px 1px 10px grey;">
                  <div class="card-body">
                    <h5 class="card-title"><span  style="font-weight: 600">{{talent.name}}</span>
                      <img src="{{talent.image}}" class="img-right" style="float: right" onerror="this.src='https://impact.moe/assets/img/paimon.gif'">
                      <p class="card-text text-truncate"><small class="text-muted">{{talent.type}}</small></p>
                    </h5>
                    <p class="card-text" style="font-weight:300">{{talent.description}}</p>
                  </div>
                </div>
      
              </div>
            </div>

        </div>

      </div>
      


    </div>

    <div class="album py-1 bg-light" >

      <h1 class="constellations" style="text-align: center; margin: 15px 50px 15px 50px; font-weight: 600;">Constellations</h1>
        
        <div class="row row-side-margin">
          <div *ngFor="let constellation of constellations" class="col-xl-4 col-lg-6 col-md-6 col-sm-12 row-margin">
            
            <div class="card mb-3 h-100" style="background-color:rgb(252, 250, 248); box-shadow: 1px 1px 10px grey;">
              <div class="card-body">
                <h5 class="card-title">
                  <img src="{{constellation.image}}" class="img-right" style="float: right" onerror="this.src='https://impact.moe/assets/img/paimon.gif'">
                  <span  style="font-weight: 600">{{constellation.name}}</span>
                  <p class="card-text text-truncate"><small class="text-muted">Constellation {{constellation.order}}</small></p>
                </h5>
                <p class="card-text" style="font-weight:300">{{constellation.description}}</p>
              </div>
            </div>
    
          </div>
        </div>

        <br>
        <br>
        <div class="container">
          <p class="details">{{character.description}}</p>
        </div>
        <br>
        <br>
        

      </div> 

      

  
  </main>
  
  <footer class="text-muted bg-dark">
    <div class="container">
      <p class="float-right">
        <a href="javascript:history.back()">Go Back</a>
      </p>
      <p>
        All data of Genshin Impact DB is obtained from Impact API - an open-source and easy-to-use repository! <br>
        To explore more on Impact API, visit their github repository at <a href="https://impact.moe/api">impact.moe/api</a>.
      </p>
    </div>
  </footer>
  
</body>
  