:root {
  --jumbotron-padding-y: 3rem;
}

.head-text {
  font-size: 85%;
  color:rgb(255, 255, 255);
  margin-bottom: 0;
}

.details {
  color:rgb(140, 140, 140);
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.head-text.text-truncate {
  font-size: 75%;
  color:rgb(255, 255, 255);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.head-title{
  text-transform: capitalize;
  font-size: 150%;
  color:rgb(255, 255, 255);
  margin-bottom: 0;
}


.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.jumbotron-text {
  position: absolute;
  top: 25%;
  right: 4%;
  transform: translate(0%, -50%);
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  min-height: 240px;
  background-color: rgb(15, 219, 168);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#000000;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;    
}

.jumbotron .container {
  max-width: 60rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer p {
  margin-bottom: .25rem;
  color: #ffffff;
}

footer a{
  color:#ffd000;
  letter-spacing: 1px;
  font-size: 105%;
}

.box-shadow { 
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}

.card-text {
  font-size: 85%;
}

.card-text.text-truncate {
  font-size: 75%;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-link{
  text-decoration: none;
  color:black;
}

.card-link h5{
  font-weight: bold;
  margin:0;
  font-family: Verdana, sans-serif;   
}

.card-link:hover h5{
  color:#ffd000;
  font-size: 135%;
  letter-spacing: 1px;
}


.card-title{
    text-transform: capitalize;
}
.txt-center{
  width: 50px;
  height: 50px;
  display: block;
  margin-right: 50%;
}

.img-header{
    width: 50px;
    height: 50px;
    display: block;
    margin-right: 10%;
}

.img-right{
  width: 40px;
  height: 40px;
}

.img-fluid{
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.row-margin { 
  margin-bottom: 20px; 
}

.row-side-margin { 
  margin-left: 50px;
  margin-right: 50px; 
}


.img-char{
  height: 450px;
  position: absolute;
  top: 500px;
  transform: translate(0%, -50%);
}

.char-info{
  position: absolute;
  top: 60%;
  transform: translate(0%, -50%);
}

.img-bg-1{
  object-fit: cover;
  background-image: linear-gradient(to bottom right, rgb(92,101,113), rgb(136,148,157));
}

.img-bg-2{
  object-fit: cover;
  background-image: linear-gradient(to bottom right, rgb(75,100,95), rgb(91,144,105));
}

.img-bg-3{
  object-fit: cover;
  background-image: linear-gradient(to bottom right, rgb(81,102,132), rgb(79,164,184));
}

.img-bg-4{
  object-fit: cover;
  background-image: linear-gradient(to bottom right, rgb(91,83,129), rgb(186,138,205));
}

.img-bg-5{
  object-fit: cover;
  background-image: linear-gradient(to bottom right, rgb(160,121,81), rgb(218,163,79));
}

.img-icon{
  height: 80px;
  width: 80px;
}

.img-body{
  height: 200px;
  float: right;
}

.row-bg-5 {
  margin-left: 1px;
  margin-right: 1px;
  background-image: linear-gradient(to bottom right, rgb(160,121,81), rgb(218,163,79));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

.row-bg-4 {
  margin-left: 1px;
  margin-right: 1px;
  background-image: linear-gradient(to bottom right, rgb(91,83,129), rgb(186,138,205));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

.row-bg-3 {
  margin-left: 1px;
  margin-right: 1px;
  background-image: linear-gradient(to bottom right, rgb(81,102,132), rgb(79,164,184));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

.row-bg-2 {
  margin-left: 1px;
  margin-right: 1px;
  background-image: linear-gradient(to bottom right, rgb(75,100,95), rgb(91,144,105));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

.row-bg-1 {
  margin-left: 1px;
  margin-right: 1px;
  background-image: linear-gradient(to bottom right, rgb(92,101,113), rgb(136,148,157));
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center;
}

