nav{
    padding: 12px;
}

span{
    font-size: 150%;
}

li{
    padding: 5px;
    text-transform: uppercase;
}

a{
    color:rgb(62, 42, 3);
    letter-spacing: 1px;
    font-size: 105%;
}

a:hover{
    color:#000000;
    font-weight: bold;
}

a:active {
    color: #6e5800;
}
