<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #ffd000">
<div class="container-fluid">

    <a class="navbar-brand" href="#">
        <img src={{logo}} alt="" width="130" height="80" class="d-inline-block align-text-middle"> 
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse nav-center" id="navbarSupportedContent">
        <span class="navbar-brand mb-0 h1">{{title}}</span>
        <ul class="navbar-nav me-auto mx-lg-auto mb-lg-0">
            <li *ngFor="let item of navItems" class="nav-item">
                <a class="nav-link active" [routerLink]="item.path" routerLinkActive="active">{{item.name}}</a>
            </li>

        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" size="30">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </div>
    
</div>
</nav>