<section id="banner" class="bg-light" style="min-height: 76vh;">
<div class="container bg-light">

    <div class="row home-row align-items-center">
        <div class="col-lg-4 col-md-6 ontents">
            <br><br>
            <img src="{{paimon}}" class="img-mascot float-lg-end">
        </div>
        <div class="col-lg-8 col-md-6 h-100 home-body text-md-start text-sm-center">
            <br>
            <h1 class="home-header">Paimon says Hi!</h1><br>
            <h4 class="home-content">Welcome to Genshin Impact DB. The database contains information on characters, weapons, and artifacts of the game, 
                Genshin Impact. All of the data is accessible through the public API.</h4><br>
            <h4 class="home-content">All data of Genshin Impact DB is obtained from Impact API - an open-source and easy-to-use repository! 
                To explore more on Impact API, visit their github repository at <a href="https://genshin.dev/">genshin.dev</a>.</h4>
        </div>
    </div>

</div>
</section>

<footer class="text-muted bg-dark">
    <div class="container">
      <p style="font-weight:100">
        Genshin Impact DB is a simple platform built using using Angular and Bootstrap 5 for the front-end. <br>
        The website is based on the <a href="https://angular.io/tutorial">Tour of Heroes</a> application of Angular.
      </p>
    </div>
</footer>
  